{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Inventory</title>
  <link rel="stylesheet" href="{% static 'css/adminInventory.css' %}">
</head>
<body>
    <header>
        <div class="logoimg">
            <a href="{% url 'dashboard' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo" />
            </a>
            <h1>ADMIN</h1>
        </div>
        <nav class="navbar">
            <a href="{% url 'inventory_visualization' %}">Report</a>
            <a href="{% url 'adminTransaction' %}">Transactions</a>
            <a href="{% url 'adminUser' %}">User</a>
            <a href="{% url 'adminInventory' %}" class="active">Inventory</a>
            <a href="{% url 'adminOrder' %}">Orders</a>
            <a href="{% url 'dashboard' %}" class="home-btn">HOME</a>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Logout</button>
              </form>
        </nav>
    </header>
    <main>
        <div class="Controls">
            <a href="{% url 'add_product' %}" class="Controls-btn">Add</a>
            <a href="{% url 'product_action_log' %}" class="Controls-btn">Logs</a>
        </div>

        <section class="product-grid">
            {% for product in products %}
            <div class="product-card" data-product-id="{{ product.id }}">
                <div class="image-placeholder"></div>
                <p class="product-name">{{ product.name }}</p>
                <p class="product-price">₱{{ product.price }}</p>
                <p class="product-quantity">
                    {{ product.quantity }} Pcs.
                    {% if product.quantity == 0 %}
                        <span class="stock-status out">Out of Stock</span>
                    {% elif product.quantity < 20 %}
                        <span class="stock-status low">Running Low</span>
                    {% endif %}
                </p>
                <a href="{% url 'edit_product' product.id %}" class="edit-btn">Edit</a>
                <form action="{% url 'delete_product' product.id %}" method="POST" class="delete-form">
                    {% csrf_token %}
                    <button type="submit" class="delete-btn">Delete</button>
                </form>
            </div>
            {% endfor %}
        </section>
    </main>
</body>
</html>
