{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Delete User</title>
  <link rel="stylesheet" href="{% static 'css/delete_user.css' %}">
</head>
<body>
    <header>
        <div class="logoimg">
            <a href="{% url 'dashboard' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo" />
            </a>
            <h1>ADMIN</h1>
        </div>
        <nav class="navbar">
            <a href="{% url 'adminTransaction' %}">Transactions</a>
            <a href="{% url 'adminUser' %}" class="active">User</a>
            <a href="{% url 'adminInventory' %}">Inventory</a>
            <a href="{% url 'adminOrder' %}">Orders</a>
            <a href="{% url 'dashboard' %}" class="home-btn">HOME</a>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Logout</button>
              </form>
        </nav>
    </header>

  <main>
    <div class="form-container">
      <h2>Delete User</h2>
      <form method="POST">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" required>

        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" required>

        <button type="submit" class="submit-btn">Delete User</button>
      </form>
    </div>
  </main>
</body>
</html>
