{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link rel="stylesheet" href="{% static 'css/edit_user.css' %}">
</head>
<body>

    <header>
        <div class="logoimg">
            <a href="{% url 'dashboard' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo" />
            </a>
            <h1>ADMIN</h1>
        </div>
        <nav class="navbar">
            <a href="{% url 'adminTransaction' %}">Transactions</a>
            <a href="{% url 'adminUser' %}" class="active">User</a>
            <a href="{% url 'adminInventory' %}">Inventory</a>
            <a href="{% url 'adminOrder' %}">Orders</a>
            <a href="{% url 'dashboard' %}" class="home-btn">HOME</a>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Logout</button>
              </form>
        </nav>
    </header>

    <main>
        <div class="form-container">
            <h2>Edit User</h2>
            <form method="post">
                {% csrf_token %}

                <label for="user_id">User ID</label>
                <input type="number" name="user_id" placeholder="User ID" value="{{ user.id }}" required>

                <label for="first_name">First Name</label>
                <input type="text" name="first_name" placeholder="New First Name" value="{{ user.first_name|default:'' }}">

                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" placeholder="New Last Name" value="{{ user.last_name|default:'' }}">

                <label for="email">Email</label>
                <input type="email" name="email" placeholder="New Email" value="{{ user.email|default:'' }}">

                <button type="submit" class="submit-btn">Save Changes</button>
            </form>
        </div>
    </main>

</body>
</html>
